<div class="col-10 offset-1">
  <h1>About ...</h1>
<p>
     Humanist Hub was built by <a href="http://thomasbanghart.getforge.io/">Thomas Banghart</a>. Thomas is a graduate student at the University of California, Santa Cruz studying anthropological archaeology. Although a fan of social theory, he thinks it is best to approach He specializes in zooarchaeology, or the study of animal remains from archaeological sites.
  </p>
  <br />
  <p>
    He has experience working with archaeofaunas from California, Texas, and eastern Africa. Currently, his research is focused on seabird explotation in along western Vancouver Island, British Columbia. His research is part of an ongoing collaborative project between the University of Victoria, Parks Canada, and Tseshaht and Huu-ay-aht First Nation Communities titled the Historical-Ecology and Costal Archaeology of Barkley Sound. Since 2015, this interdisciplinary project has interwoven archaeological investigation, oral histories, and marine ecology to dissolve the boundaries between the social and natural sciences toward the conservation and restoration of natural and cultural heritage. 
  </p>
  <br />
   <br />
  
  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'IMG_6520.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text center">Thomas Banghart</h2>
      <br />
      <p>
        Thomas excavating at Kakmakimilh, a tradtional village site of the Tseshaht First Nation occupied for well over 2000 years. 
      </p>
    </div>
  </div>
<br class="clear" />
<br />
<br />
<br />
<br />





</div>




