<h2>
  <span>Humanist Hub / Quote No. <%= @quote.id %></span>
  The <u>freshest quips</u> about social theory you can find! 
  </h2> 
  
<h1><%= @quote.saying%></h1>
<h2 class="float-right">- <%= @quote.author%></h2>

<br class="clear" />
  <br />
  <br />